* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.side-bar {
  width: 300px;
  &__user {
    background-color: #64e8ff;
    height: 100px;
    display: flex;
    align-items: center;
  }
  &__group-list {
    background-color: #aaf2ff;
    height: calc(100vh - 100px);
    overflow: scroll;
  }
}

.top-items {
  height: 20px;
  width: 260px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  a {
    color: $mainWhite;
  }
  &__name {
    line-height: 20px;
    color: $mainWhite;
    font-size: 16px;
    font-weight: bold;
  }
  &__icons {
    display: flex;
    &__edit {
      margin-right: 5px;
    }
    &__signout {
      margin-left: 5px;
    }
  }
}

.group {
  margin: 0 20px;
  a {
    color: rgb(4, 0, 255);
    text-decoration: none;
  }
  &__name {
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 5px;
  }
  &__message {
    font-size: 11px;
    padding-bottom: 40px;
  }
}

.main {
  width: calc(100vw - 300px);
  &__header {
    background-color: $mainWhite;
    border-bottom: solid #eeeeee;
    height: 100px;
    display: flex;
    justify-content: space-between;
    .active-group {
      color: $darkgray;
      font-size: 20px;
      margin-left: 20px;
      margin-top: 35px;
    }
    .member {
      color: $gray;
      font-size: 12px;
      display: flex;
      margin-top: 15px;
    }
    a {
      display: block;
      margin-top: 28px;
      margin-right: 40px;
      height: 40px;
      width: 72px;
      border: solid 1px;
      color: $skyblue;
      padding: 7px 20px;
      text-decoration: none;
    }
  }
  .contents {
    display: flex;
    .messages {
      background-color: #fafafa;
      height: calc(100vh - 100px - 90px);
      overflow: scroll;
      width: calc(100% - 300px);

      .user-data {
        padding-top: 35px;
        padding-bottom: 12px;
        padding-left: 40px;
        display: flex;
        .name {
          color: $darkgray;
          font-size: 16px;
          font-weight: bold;
          margin-right: 10px;
        }
        .date {
          color: $gray;
          font-size: 12px;
        }
      }
      .message-content__text {
        padding-left: 40px;
        padding-bottom: 11px;
        color: #434a54;
        font-size: 14px;
      }
    }
    .score {
      background-color: #73f76f;
      height: calc(100vh - 100px - 90px);
      overflow: scroll;
      width: 300px;
    }
  }
  &__form {
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px;
    .input-box {
      display: flex;
      position: relative;
      width: 100%;
    &__text {
      padding-left: 10px;
      padding-right: 40px;
      border-style: none;
      width: 100%;
      }
    &__image {
      position: absolute;
      font-size: 24px;
      top: 7px;
      right: 125px;
      cursor: pointer;
      .message-image {
        display: none;
      }
    }
    .submit-btn {
      height: 50px;
      width: 100px;
      background-color: $skyblue;
      color: $mainWhite;
      margin-left: 15px;
      padding: 0 30px;
      cursor: pointer;
    }
    }
  }
}